<ion-header>
  <ion-navbar [color]="'primary'">
    <ion-title>Lista de Produtos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="qtde>0">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <button ion-item *ngFor="let p of itens" (click)="getProductInfo(p.id)">
        <ion-icon name="beer"></ion-icon>
        {{ p.descricao }} <p item-end> R$ {{ p.valor }}</p>
        <ion-icon name="arrow-forward" item-end></ion-icon>
        <p>&emsp;&nbsp;&nbsp;Atualização: {{ p.data_emissao }}</p>
      </button>
    </ion-list>
    <ion-card-content text-center>Aqui estão listados todos os produtos relacionados a cerveja.</ion-card-content>
</ion-content>

<ion-content padding *ngIf="!qtde>0">
    <ion-card-content text-center>Nenhuma nota cadastrada.</ion-card-content>
</ion-content>
